:root {
    --black: #070708;
    --gray: #A3C0C3;
    --red: #F91D14;
    --light-red: #9E201A;
    --dark-red: #5A1311;
    --light-blue: #109098;
    --dark-blue: #2F5255;
  }

footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a {
  color: var(--light-blue);
}

footer a:hover {
  color: var(--gray);
}

a {
  color: car(--light-blue);
}

.dark-red-bg {
  background-color: var(--dark-red);
}
