{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10">

        </div>
    </div>
</div>

<!-- user info card -->
<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <div class="card">
                {{user.profile.name}}
                <br> 
                Current City: {{user.profile.city}}
                <br>
                Date Joined: {{user.date_joined}}
                <img class="img-thumbnail rounded-circle z-depth-2" alt="100x100" src="{{ user.profile.image.url }}"  data-holder-rendered="true">
                <a href="{% url 'profile_edit' %}">edit</a>
            </div>
        </div>
        {% comment %} here goes the posts {% endcomment %}
            <div class="col">
        {% for post in posts.all %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'post' post.id%}">{{post.title}}</a>
                    </div>
                </div>
        {% endfor %}
            </div>
    </div>
</div>

{% endblock %}