{% extends 'base.html' %}

{% load static %}

{% block content %}



<!-- user info -->
<div class="container mt-100">
    <div class="row">
        <div class="text-center">
            <img class="img-fluid rounded mt-3" src="https://d1bvwpcbxq9v24.cloudfront.net/NMS0HM9H/Sunset-Skyline-Header-Image.-Courtesty-Austin-Convention-Visitors-Bureau-Credit-Geoff-Duncan_exp-May-2020.jpg" alt="">
            <div class="card card-profile p-2 w-25 mx-auto">
                <img class="img-thumbnail rounded-circle z-depth-2 mx-auto" width="150px" alt="100x100" src="{{ user.profile.image.url }}"  data-holder-rendered="true">
                {{t_user.profile.name}}
                <br> 
                Current City: {{t_user.profile.city}}
                <br>
                Joined: {{t_user.date_joined|date:'m-d-Y'}}
                    {% if t_user.profile.slug  %}
                <a href="{% url 'profile_edit' %}">edit</a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- user posts -->
<div class="container">
    <div class="row">
        {% for post in posts.all %}
        <div class="col-md-3 mb-4">
            <div class="card card-posts mt-5 h-100">
                <div class="card-header">{{post.city}}</div>
                <div class="card-body">
                    <img class="img-thumb z-depth-2 mx-auto" width="150px" alt="100x100" src="{{ post.image.url }}"  data-holder-rendered="true">
                    <p><a class="card-title" href="{% url 'post' post.id %}">{{post.title}}</a></p>
                    <p class="card-text">{{post.content|truncatewords:"10"}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</div>

{% endblock %}