{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="card mt-5">
    <div class="card-body">
      <img class="img-fluid" src="{{ post.image.url }}" alt="">
      <h1 class="mt-4 mid-red">{{post.title}}</h1>
      <p>{{post.user.profile.name}}</p>
      {% if post.user.id == request.user.id  %}
        <a class="nav-item nav-link" data-toggle="modal" data-target="#editPostModal" href="#">Edit</a>
        <a class="nav-item nav-link" data-toggle="modal" data-target="#deletePostModal" href="#">Delete</a>
      {% endif %}
      <p>{{post.content}}</p>
    </div>
  </div>
</div>


<!-- edit post Modal -->
    <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPostModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <!-- edit post Form -->
            <form method="post" action="{% url 'post' post.id %}">
              <input type="hidden" name="form_name" value="signup_form">
              {% csrf_token %}
              {{ post_form.as_p }}
              <input type="submit" class="btn" value="Update Post">
            </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

<!-- delete post Modal -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deletePostModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <!-- delete post confirm-->
            <p>Are you sure you want to delete <em>{{post.title}}</em>?</p>
            <a href="{% url 'post_delete' post.id%}">Confirm</a>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}