{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
{% load humanize %}
{% load cloudinary %}
<!-- Cities Menu -->
<div class="box">
  <img class="big-crop w-100" src="{{c_city.image}}"/>
  <div class="img-title">
    <h1>{{c_city.name}}</h1>
    <h3>{{c_city.country}}</h3>
  </div>
</div>
<div class="w-100 container-fluid">
  <div class="row">
    <!-- City Header -->
    <div class="col-sm-12">      
      <!-- City Posts -->
      <div class="container mt-5">
          <div class="add-button-container">
            <h3 class="black">Posts</h3>
            {% if user.is_authenticated %}
            <button 
              type="button"
              data-toggle="modal"
              data-target="#newpostmodal"
              class="btn btn-primary btn-lg btn-red ml-auto">Add Post</button>
            {% endif %}
          </div>
        <div class="row mt-4">
        {% for post in posts %}
        <div class="col-lg-4">
          <div class="card recent-posts">
            <div class="recent-posts__container">
              <img class="recent-posts__img" src="{{ post.image.url }}" />
            </div>
            <div class="recent-posts__profile">
              <img class="rounded-circle recent-posts__profile-img" src="{{ post.user.profile.image.url }}" />
              <div class="recent-posts__profile-text">
                <a class="recent-posts__profile-text__name" href="{% url 'profile' post.user.profile.slug %}">{{ post.user.profile.name }}</a>
                <p>{{post.created_date|naturaltime}}</p>
              </div>
            </div>
            <div class="card-body recent-posts__article-body">
              <h3 class="recent-posts__title"><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
              <article class="mt-2 recent-posts__article-body-text">{{post.content|truncatechars:150|linebreaks}}</article>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        {%	include	'pagination.html'	with	page=posts	%}
      </div>
    </div>
  </div>
</div>

<!-- pagination -->
{% if is_paginated %}
<div>
    <span>
        {% if current_page.has_previous %}
            <a href="?page={{ current_page.previous_page_number }}">Previous</a>
        {% endif %}
        <span>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
        </span>
        {% if current_page.has_next %}
            <a href="?page={{ current_page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}
</div>

<!-- new post Modal -->
<div
  class="modal fade"
  id="newpostmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">
          Post to {{c_city.name}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- new post Form -->
        <form enctype="multipart/form-data" method="POST" action="{% url 'new_post' c_city.id %}">
          {% csrf_token %} {{ post_form|crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">
          CLOSE
        </button>
        <input type="submit" class="btn btn-primary btn-blue" value="Add Post" />
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}