{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
{% load humanize %}
<!-- Cities Menu -->
<div class="mt-5 w-100 container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h1>Cities</h1>
      {% for city in cities.all %}
        <div class="card article">
          <a href="{% url 'main' city.slug %}">
          <div class="card-body card-body-text">
            <div class="row">
              <div class="col-sm-5">
                  <img class="cropped" src="{{city.image}}" />   
              </div>
              <div class="col-sm-7">
                <h3 class="article-title mt-4">{{city.name}}</h3>
              </div>
            </div>
          </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- City Header -->
    <div class="col-sm-9">
      <div class="box">
        <img class="big-crop w-100" src="{{c_city.image}}"/>
        <div class="img-title">
          <h1>{{c_city.name}}</h1>
          <h3>{{c_city.country}}</h3>
        </div>
      </div>
      

        <div class="row mt-3 mb-3">
          <div class="col-sm">
            <h1>Posts</h1>
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            {% if user.is_authenticated %}
            <button 
              type="button"
              data-toggle="modal"
              data-target="#newpostmodal"
              class="btn btn-primary btn-lg btn-block btn-red">Add Post</button>
            {% endif %}
          </div>
        </div>


      <!-- City Posts -->

          {% for post in posts %}
          <div class="card article">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-2 text-center">
                  <img class="prof-crop rounded-circle " src="{{ post.user.profile.image.url }}" />
                  <p class="post-profile-text post-profile-text-name"><a href="{% url 'profile' post.user.profile.slug %}">{{ post.user.profile.name }}</a></p>
                  <p class="post-profile-text">{{ post.user.profile.city }}</p>
                </div>
                <div class="col-sm-7">
                  <h3 class="article-title"><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
                  <p class="post-profile-text">{{post.created_date|naturaltime}}</p>
                  <article class="mt-3">{{post.content|truncatechars:1000|linebreaks}}</article>
                  <a class="black post-profile-text-name red-hover" href="{% url 'post' post.id %}">Read More</a>
                </div>
                <div class="col-sm-3">
                  <img class="post-img" src="{{ post.image.url }}" />
                </div>
              </div>

            </div>
          </div>
            
          {% endfor %}

          {%	include	'pagination.html'	with	page=posts	%}

    </div>
  </div>
</div>

<!-- pagination -->
{% if is_paginated %}
<div>
    <span>
        {% if current_page.has_previous %}
            <a href="?page={{ current_page.previous_page_number }}">Previous</a>
        {% endif %}

        <span>
            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
        </span>

        {% if current_page.has_next %}
            <a href="?page={{ current_page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}
</div>



<!-- new post Modal -->
<div
  class="modal fade"
  id="newpostmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">
          Post to {{c_city.name}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- new post Form -->
        <form enctype="multipart/form-data" method="POST" action="{% url 'new_post' c_city.id %}">
          {% csrf_token %} {{ post_form|crispy }}
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-dismiss="modal">
          CLOSE
        </button>
        <input type="submit" class="btn btn-primary btn-blue" value="Add Post" />
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
