:root {
    --black: #070708;
    --dark-gray: #15191C;
    --red: #F91D14;
    --mid-red: #FF4F43;
    --light-red: #9E201A;
    --dark-red: #5A1311;
    --light-blue: #3FBDC2;
    --dark-blue: #2F5255;
    --gray: #f1f4f9;
    --light-gray: #7b7b7b;
    --white: #ffffff;
    --header-font: 'Roboto', sans-serif;
  }

.header-font {
  font-family: var(--header-font);
}

.black {
  color: var(--black);
}

.blue {
  color: var(--light-blue);
}

.mid-red {
  color: var(--mid-red);
}

.logo {
  font-weight: 800;
  font-size: 2em;
  line-height: 49px;
  letter-spacing: 0px;
}

.navbar-brand {
  margin: 15px 0;
}

body {
  background-color: var(--gray);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--light-gray)
}

article {
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--dark-gray);
}

footer a {
  color: var(--light-blue);
}

footer a:hover {
  color: var(--gray);
}

a {
  color: car(--light-blue);
}

.dark-red-bg {
  background-color: var(--mid-red);
}

.dark-gray-bg {
  background-color: var(--dark-gray);
}

.main-font {
  font-family: 'Roboto', sans-serif;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
}

nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
}

nav a:hover, a:active {
  color: var(--black);
}

@media (min-width: 992px) {
  .nav__home {
    background-color: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
  }
}

h1 {
  font-weight: 900;
  color: #fff;
}

h2 {
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-profile {
    margin-top: -190px;
    width: 275px;
    box-shadow: 0px 14px 25px -13px rgba(62, 189, 195, 0.5);
}

.card-posts {
  box-shadow: 0px 14px 25px -13px rgba(62, 189, 195, 0.5);
}

.city-caption {
  margin-top: -160px;
}

.box{
  position:relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 35%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.btn-blue {
  background: var(--light-blue);
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-red {
  background: var(--mid-red);
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-red:hover {
  background: var(--red);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.nav-welcome {
  margin: 0;
  margin-top: 10px;
  color: #fff;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.5rem;
}
}

.article {
  margin-bottom: 20px;
  background-color: var(--light-blue);
  border-radius: 0px;
}

.article-title {
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-gray);
}

.article-title a {
  color: var(--dark-gray);
}

.img-thumb {
  max-width: 100%;
  height: auto;
}

.modal-content {
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 0px;
  border: none;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
}

.cropped {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.big-crop {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.prof-crop {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.prof-page-crop {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.post-img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.red-text {
  color: red;
}

.comment-card {
  box-shadow: 0px 14px 25px -13px rgba(62, 189, 195, 0.5);
}

.disabled {
  color: black !important;
}

.post-profile-text {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.post-profile-text-name {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.post-profile-text-name a {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--black)
}

.post-profile-text-name a:hover {
  text-decoration: underline;
  text-decoration-color: var(--mid-red);
}

.article-title a:hover {
text-decoration: underline;
text-decoration-color: var(--mid-red);
}

.red-hover:hover {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--mid-red);
  }

.card-body-text:hover {
  text-decoration: underline;
  text-decoration-color: var(--mid-red);
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 14px;
}

.post-profile-title a {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--black)
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.errorlist {
  color: red;
}

.recent-posts {
  margin-bottom: 20px;
  background-color: var(--white);
  border-radius: 0px;
  box-shadow: 0px 14px 25px -13px rgba(62, 189, 195, 0.5);
}

.recent-posts__container {
  position: relative;
}

.recent-posts__container__city {
  float: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(177, 177, 177, 0.2)!important;
  padding: 0.5em 1.25em;
  color: #FFFFFF;
}

.recent-posts__article-body {
  padding: 0 1.25rem;
}

.recent-posts__article-body article {
  font-size: 0.8em;
}

.recent-posts__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recent-posts__title {
  color: var(--dark-gray);
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}

.recent-posts__title a {
  color: var(--dark-gray);
}

.recent-posts__profile {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 0.5em;
}

.recent-posts__profile-img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  object-fit: cover;
}

.recent-posts__profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  margin-top: 3px;
}

.recent-posts__profile-text__name {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.recent-posts__profile-text a {
  color: var(--dark-gray)
}

.slider__card-container {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider__card {
  padding: 30px;
  background-color: rgb(255 255 255 / 0%);
  backdrop-filter: blur(3px) brightness(125%);
  margin: 17px;
}

.slider__card-title {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .1em;
}

.slider__card-text {
  font-size: 0.8em;
  font-weight: 300;
}

.slider__heading-container {
  text-align: center;
  z-index: 999;
  width: 100%;
  margin-top: -20%;
}

.slider__heading-text {
  font-size: 4em;
}

.carousel-inner {
  height: 90vh;
}

@media (max-width: 992px) {
  .slider__card {
    display: none;
  }

  .carousel-item {
    width: auto;
  }

  .slider__card-container {
    bottom: 50%;
  }
}

.add-button-container {
  display: inline-flex;
  width: 100%;
}